@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: rgb(168, 103, 212);
  --color-1: rgba(255, 56, 93, 0.815);
  --color-white: rgb(255, 255, 255);
  --color-dark: rgb(34, 34, 34);
  --color-grey: rgb(247, 247, 247)
}

body {
  background-color: var(--color-white);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.color {
  color: var(--color);
}
.color:hover {
  color: var(--color-1);
}
.back-color {
  background-color: var(--color);
}
.back-color:hover {
  background-color: var(--color-1);
}